{% extends "base.html" %}]

{% block content %}
<div class="container mb-3">
    <div class="row">
        <div class="col-sm">English: <span id="en-count"></span></div>
        <div class="col-sm">Japanese: <span id="ja-count"></span></div>
        <div class="col-sm">Tagalog: <span id="fl-count"></span></div>
    </div>
</div>
<div class="container mb-3">
    <div class="row">
        <div class="col-sm-9">
            <div class="form-floating mb-2">
                <input type="text" name="query" class="form-control" required="" id="id_query">
                <label for="id_query">Query:</label>
            </div>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-primary" id="find-btn">Find</button>
        </div>
    </div>
</div>
<form class="p-4 p-md-5 border rounded-3 bg-light" method="post" id="save-form">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {{ form.date_added }}
        {{ form.date_added.label_tag}}
    </div>
    <div class="form-floating mb-3">
        {{ form.word_or_phrase }}
        {{ form.word_or_phrase.label_tag }}
    </div>
    <div class="form-floating mb-3">
        {{ form.pos }}
        {{ form.pos.label_tag }}
    </div>
    <div class="form-floating mb-3">
        {{ form.language }}
        {{ form.language.label_tag }}
    </div>
    <div class="form-floating mb-3">
        {{ form.pronounciation }}
        {{ form.pronounciation.label_tag }}
    </div>
    <div class="form-floating mb-3">
        {{ form.is_native }}
        {{ form.is_native.label_tag }}
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
</form>

<div class="modal fade" id="results-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="order-confirm-modal-title" aria-hidden="true">
    <!-- <div class="modal-dialog modal-fullscreen"> -->
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4">
                    <span class="badge text-bg-success">Results</span>
                    <span class="badge text-bg-info" id="results-msg"></span>
                </h1>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-striped" id="history-table">
                    <thead>
                        <tr>
                            <th class="text-center align-middle">Language</th>
                            <th class="text-center align-middle">Date</th>
                            <th class="text-center align-middle">Pronounciation</th>
                            <th class="text-center align-middle">Native?</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" id="ok-btn" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="msg-modal" tabindex="-1" role="dialog" aria-labelledby="msg-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    const token = $("[name=csrfmiddlewaretoken]").val();
    var form = $("#save-form");
    var date = form.find("#id_date_added");
    var saveBtn = form.find("button[type='submit']");
    var resultsModal = $("#results-modal");
    var msgModal = $("#msg-modal");
    var posQueryRequest = null;
    var posCheckRequest = null;

    function clearForm() {
        date.datepicker('setDate', 'today').datepicker("hide");
        form.find("#id_word_or_phrase").val("");
        $(form.find("#id_language").find("option")[0]).prop("selected", true);
        form.find("#id_pronounciation").val("");
        $(form.find("#id_is_native").find("option")[0]).prop("selected", true);
        form.find("#id_pos").val("");
        saveBtn.removeClass("disabled");
    };
    function showResults(data) {
        var wordOrPhrase = data["ref_data"]["word_or_phrase"];
        var pronounciation = data["ref_data"]["pronounciation"];
        var historyTable = resultsModal.find("#history-table tbody");
        if (data["created"] == true) {
            resultsModal.find("#results-msg").empty().text("Record created for '" + wordOrPhrase + "'");
        }
        if (data["added"] == true) {
            resultsModal.find("#results-msg").empty().text("History entry added for '" + wordOrPhrase + "'");
        }
        if (data["created"] == false && data["added"] == false) {
            resultsModal.find("#results-msg").empty().text("'" + pronounciation + "' for '" + wordOrPhrase + "' is already recorded");
        }
        if (data["found"] == true) {
            resultsModal.find("#results-msg").empty().text("records for '" + wordOrPhrase + "':");
        }
        var htmlStr = "";
        for (let i = 0; i < data["history"].length; i++) {
            var row = data["history"][i];
            var native = "No";
            if (row["is_native"]) {
                native = "Yes";
            }
            htmlStr += "" +
                "<tr>" +
                    "<td>" + row["language__desc"] + "</td>" +
                    "<td>" + row["date_added"] + "</td>" +
                    "<td>" + row["pronounciation"] + "</td>" +
                    "<td>" + native + "</td>" +
                "</tr>";
        }
        historyTable.empty().append(htmlStr);
        resultsModal.modal("show");
    };
    function saveInput() {
        saveBtn.addClass("disabled");
        $.ajax({
            url: "{% url 'main' %}",
            type: "POST",
            data: form.serialize(),
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": token,
            },
            success: (data) => {
                console.log(data);
                showResults(data);
                saveBtn.removeClass("disabled");
            },
            error: (error) => {
                console.log(error);
                saveBtn.removeClass("disabled");
            }
        })
    };
    function updateWordCounts(data) {
        $("#en-count").empty().text(data["en"]);
        $("#ja-count").empty().text(data["ja"]);
        $("#fl-count").empty().text(data["fl"]);
    };
    function getWordCounts() {
        $.get("{% url 'word-counts' %}", function(data) {
            updateWordCounts(data);
        }).fail(function(error) {
            console.log(error);
        });
    };
    function clearSearchForm() {
        $("#id_query").val("");
        $("#id_query #find-btn").removeClass("disabled");
    };
    function doQuery() {
        var queryString = $("#id_query").val().trim();
        if (queryString == "") {
            return;
        }
        $("#id_query #find-btn").addClass("disabled");
        $.get("{% url 'find-word' %}", {"query": queryString}).done(function(data) {
            if (data["created"] == false && data["added"] == false && data["found"] == false) {
                msgModal.find(".modal-body").empty().text("No records for '" + data["ref_data"]["word_or_phrase"] + '"');
                msgModal.modal("show");
            }
            if (data["found"]) {
                showResults(data);
            }
            $("#id_query #find-btn").removeClass("disabled");
        }).fail(function(error) {
            console.log(error);
            msgModal.find(".modal-body").empty().text("An error occurred");
            msgModal.modal("show");
            $("#id_query #find-btn").removeClass("disabled");
        });
    };
    function getPos() {
        var ref = form.find("#id_word_or_phrase").val().trim();
        var langCode = form.find("#id_language").find(":selected").val();  // not sure yet if this will be needed
        var posField = form.find("#id_pos");
        if (ref == "") {
            return;
        }
        posField.prop("disabled", true);
        posQueryRequest = $.get("{% url 'get-pos' %}", {"ref": ref, "lang_code": langCode}).done(function(data) {
            if (data["code"] != undefined) {
                posField.val(data["desc"]);
            }
            posField.prop("disabled", false);
        });
    };
    function checkEnteredPos() {
        var posStr = form.find("#id_pos").val().trim();
        if (posStr == "") {
            return;
        }
        posCheckRequest = $.get("{% url 'check-pos' %}", {"entered_pos": posStr}).done(function(data) {
            if (data["valid"] == true) {
                saveBtn.removeClass("disabled");
            } else {
                saveBtn.addClass("disabled");
            }
        });
    }

    $(document).ready(function() {
        date.datepicker({
            dateFormat: "yy-mm-dd",
            showAmin: "fadeIn"
        });
        form.submit(function(event) {
            event.preventDefault();
            saveInput();
        });
        resultsModal.on("hide.bs.modal", function() {
            clearForm();
            clearSearchForm();
            getWordCounts();
        });
        $("#find-btn").on("click", doQuery);
        getWordCounts();
        msgModal.on("hide.bs.modal", function() {
            clearSearchForm();
        });
        form.find("#id_word_or_phrase").on("blur", function() {
            if (posQueryRequest != null && posQueryRequest.state() == "pending") {
                posQueryRequest.abort();
                posQueryRequest = null;
                $("#id_pos").val("");
                console.log("get pos request aborted for: " + $("#id_word_or_phrase").val().trim());
            }
            getPos();
        });
        form.find("#id_pos").on("blur", function() {
            if (posCheckRequest != null && posCheckRequest.state() == "pending") {
                posCheckRequest.abort();
                posCheckRequest = null;
            }
            checkEnteredPos();
        });
    });
</script>
{% endblock %}
